body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full viewport height */
}

.main-content {
  width: 300px;
}

h2 {
  text-align: center;
  font-size: 24px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Tiffany blue border for valid inputs: HTML5 validation */
input:valid {
  border-color: #0ABAB5;
}

/* red for invalid inputs: HTML5 validation */
input:invalid {
  border-color: red;
}

.submit-btn {
  padding: 12px;
  width: 100%;    /* Full width button */
  border: none;
  border-radius: 5px;
  background: #0ABAB5;    /* Tiffany Blue */
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Darker blue on hover */
.submit-btn:hover {
  background: #067d79;
}